/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* The Scroll behaviour of the whole site when clicking on navbar links*/
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
}
/* The whole navbar styling*/
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    color: black;
    text-align: center;
    
}

h1 {
    font-size: 2rem;
    margin: .5rem;
    text-align: center;
    font-family: "oswald", sans-serif;
}
/* Navbar links */
li {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 5px;

}
/* Navbar links style */
li > a {
    color: black;
    text-decoration: none;
    font-family: "oswald", sans-serif;
}

/* Home Page Picture */

#home {
    font-family: "oswald", sans-serif;
    font-size: 15px;
    background-image: url(images/pexels-photo-11028408.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 1px;
    height: 700px;
    width: 60%;
}

/* Home Page Text on picture*/
#home > h1 {
    position:relative;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: -10%;
    margin-top: 15%;
    text-align: center;
    
}

/* Information on home page*/
.info {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    margin-left: 50%;
    font-size:20px ;
    font-family: "oswald", sans-serif;
    text-align: center;
    
}

/* H2 For the specs and about section*/
h2 {
    text-align: center;
    font-family: "oswald", sans-serif;
    font-size: 30px;
}

.phone {
   color: white;
   text-align: center;
   background-color: rgb(41, 41, 41); 
   width: 80%;
   margin-left: -50%;
   margin-top: 10%;
   font-size: 20px;
   font-family: "oswald", sans-serif;
   position: relative;
   margin-right: 90%; 
   
}

#specs {
    font-family: "oswald", sans-serif;
    font-size: 15px;
    background-image: url(images/pexels-photo-phone.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 1px;
    height: 600px;
    width: 60%;
    margin-left: 40%;
    

}

.about {
    background-color: rgb(41, 41, 41);
    font-family: "oswald", sans-serif;
    padding-top: 1px;
    color: white;
    top: 70vw;
    width: 40%;
    margin-left: 30%;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
}


#form {
    color: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-color: white;
    font-size: 20px;
    font-family: "oswald", sans-serif;
    padding: 5px; 
    border-style: solid;
    border-width: 2px;
    border-color: black;  
    margin-top: 10%;
}


.socials {
    font-size: 30px;
    width: 80px;
    display: inline;
    text-align: center;
    font-family: "oswald", sans-serif;
}

@media  screen and (max-width:1200px) {

    .phone {
        bottom: 14vw;
        right: 10vw;
    }

    .about {
        margin-left: 200px;
        margin-top: 400px;
    }
    
}

