/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.logo-name {
   box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    background-image: url('https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    
}

#logo {
    font-size: 1.5rem;
    margin: .5rem;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 5px;

}

li > a {
    color: white;
    text-decoration: none;
}

#phone {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    background-image: url('https://images.pexels.com/photos/3747142/pexels-photo-3747142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
    color: white;
    padding-top: 1px;
    
     
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    top: 50rem;
    
}