/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.logo-name {
   box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    background-image: url(images/pexels-photo-3617500.webp);
    
}

h1 {
    font-size: 2rem;
    margin: .5rem;
}

li {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 5px;

}

li > a {
    color: white;
    text-decoration: none;
}

#home {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    background-image: url(images/pexels-photo-3747142.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
    color: white;
    padding-top: 1px;
    
     
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    top: 50rem;
    
}

#about {
    background-image: url(images/bulb.webp);
    font-weight: bold;
    font-family: "oswald", sans-serif;
    padding-top: 1px;
    color: white;
}

#form {
    background-image: url(images/galaxy.jfif);
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    border-color: white;
    
}


